<body>
  <div class="fullscreen-container">
    <div class="login-container">
      <img  class="img-fluid for-light m-l-80" style="height: 150px; margin-left: 15px;" src="assets/images/login/logo-simex.svg" alt="">
      <!-- <h1>Login</h1>  -->  <br><br>
      <hr>
      <form class="form">
        <div class="input-group">
          <input type="text" placeholder="Usuario" id="text" name="text" class="input-username"> 
        </div>        
        <div class="input-group">
          <input type="password" placeholder="Password" id="password" name="password" class="input-password">
        </div>      
        <button (click)="login()">Ingresar</button>       
        <a href="" class="forgot-password">Forgot Password?</a>  
      </form>    
    </div>
  </div>
</body>