<div class="card map-table">
  <div class="card-body">
      <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>campo 1</th>
                      <th>campo 2</th>
                      <th>campo 3</th>
                      <th>campo 4</th>
                      <th>campo 5</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>fila 1 valor 1</td>
                      <td>fila 1 valor 2</td>
                      <td>fila 1 valor 3</td>
                      <td>fila 1 valor 4</td>
                      <td>fila 1 valor 5</td>
                    </tr>
                    <tr>
                      <td>fila 2 valor 1</td>
                      <td>fila 2 valor 2</td>
                      <td>fila 2 valor 3</td>
                      <td>fila 2 valor 4</td>
                      <td>fila 2 valor 5</td>
                    </tr>
                    <tr>
                      <td>fila 3 valor 1</td>
                      <td>fila 3 valor 2</td>
                      <td>fila 3 valor 3</td>
                      <td>fila 3 valor 4</td>
                      <td>fila 3 valor 5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
</div>
