<div class="div-lista card map-table">
  <div class="card-body">
  
    <div id="table-wrapper">
      <div id="table-scroll">
        <table>
            <thead>
                <tr>
                    <th>OBJECTID</th> 
                    <th>DEPARTAMENTO</th>
                    <th>PROVINCIA</th>
                    <th>DISTRITO</th>
                    <th>NOMBRE</th>
                    <th>ID_CCSS</th>
                    <th>NOMB_CCSS</th>
                    <th>NRO_PZ</th>
                    <th>NOM_PZ</th>
                    <th>DESCRIPCION</th>
                    <th>EST_PZ</th>
                    <th>ME_MARCA</th>
                    <th>ME_HP</th>
                    <th>ME_AMP</th>
                    <th>ME_VOL</th>
                    <th>BO_LGBM</th>
                    <th>BO_TIPO</th>
                    <th>BO_MARCA</th>
                    <th>BO_MODEL</th>
                    <th>PZ_EQUIP</th>
                    <th>VAL_DIAM</th>
                    <th>VAL_VW</th>
                    <th>VAL_VT</th>
                    <th>CO_NE_M</th>
                    <th>CO_ND_M</th>
                    <th>CO_P1_LBS</th>
                    <th>CO_P2_LBS</th>
                    <th>CO_Q_LS</th>
                    <th>PROF_PZ</th>
                    <th>DIAS_MES</th>
                    <th>PROD_MM3</th>
                    <th>X_UTM</th>
                    <th>Y_UTM</th>
                    <th>OBS</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>LIMA</td>
                <td>LIMA</td>
                <td>SAN JUAN DE LURIGANCHO</td>
                <td>PZ001</td>
                <td>S001</td>
                <td>SEDAPAL CENTRO</td>
                <td>SEDAPAL098788</td>
                <td>Pozo fuaaa</td>
                <td>EN REPARACION</td>
                <td>ACF</td>
                <td>HP</td>
                <td>ME_AMP</td>
                <td>ME_VOL</td>
                <td>BO_LGBM</td>
                <td>BO_TIPO</td>
                <td>BO_MARCA</td>
                <td>BO_MODEL</td>
                <td>PZ_EQUIP</td>
                <td>VAL_DIAM</td>
                <td>VAL_VW</td>
                <td>VAL_VT</td>
                <td>CO_NE_M</td>
                <td>CO_ND_M</td>
                <td>CO_P1_LBS</td>
                <td>CO_P2_LBS</td>
                <td>CO_Q_LS</td>
                <td>PROF_PZ</td>
                <td>DIAS_MES</td>
                <td>PROD_MM3</td>
                <td>X_UTM</td>
                <td>Y_UTM</td>
                <td>OBS</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
