mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #7366ff !important;
}

::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}

::ng-deep .mat-form-field-label {
  color: #000000!important;
  // color: $mainColor!important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #7366ff !important;
}

::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
