<div class="modal-header text-center">
  <h5 class="modal-title text-center">A los locales p&uacute;blicos</h5>
  <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="data">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Local publico</label>
          <ng-select
          [items]="maestrasInfraestructura"
          bindLabel="descripcion"
          bindValue="id"
          formControlName="idTipoLocalPublico"
          (change)="getSelectInfra($event)"
          placeholder="Seleccione"></ng-select>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Destruido (unidad)</label>
          <input type="text" class="form-control" placeholder="Destruidas" formControlName="cantidadDestruido">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Afectado (unidad)</label>
          <input type="text" class="form-control" placeholder="Afectada" formControlName="cantidadAfectado">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Inhabitable (unidad</label>
          <input type="text" class="form-control" placeholder="Inhabitables" formControlName="cantidadInhabitable">
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-primary m-r-20" (click)="addData()">
        <span>Agregar</span>
      </button>

      <button type="button" class="btn btn-outline-danger" (click)="closeModal()">
        <span>Cancelar</span>
      </button>
    </div>
  </form>

</div>