<div class="modal-header text-center">
    <h5 class="modal-title text-center">Ver/Editar Sub-Categoria</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="needs-validations" novalidate [formGroup]="updateFormSubCategories">
      
        <mat-tab-group mat-align-tabs="center">
            <div class="row">
                <mat-tab label="Datos Basicos">
                    <br>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Nombre subcategoria</mat-label>
                        <input matInput maxlength="400" rows="3" #inputtxtNombreCategory
                            placeholder="Nombre subcategoria" required formControlName="nameSubCategory">
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Palabras clave tematicas</mat-label>
                        <mat-chip-list #chipList1 aria-label="Fruit selection">
                          <mat-chip *ngFor="let fruit of keyWords" (removed)="remove(fruit)">
                            {{fruit.name}}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                          <input placeholder="Nueva palabra clave tematica..."
                                 [matChipInputFor]="chipList1"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)"
                                 formControlName="keyWords">
                        </mat-chip-list>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Palabras clave geograficas</mat-label>
                        <input matInput maxlength="400" rows="3" #inputtxtNombreCategory
                            placeholder="Nombre categoria" required formControlName="keyWordsGeo">
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Resumen</mat-label>
                        <textarea matInput maxlength="400" rows="3" #inputtxtNombreCategory
                            placeholder="Descripcion" required formControlName="summary"></textarea>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Marco en el cual se ha credo la informacion</mat-label>
                        <textarea matInput maxlength="400" rows="3" #inputtxtNombreCategory
                            placeholder="Descripcion" required formControlName="infoExtended"></textarea>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Numero de objetos</mat-label>
                        <input matInput maxlength="400" type="number" rows="3" #inputtxtNombreCategory
                            placeholder="Numero de objetos" required value="8">
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Numero de Atributo</mat-label>
                        <input matInput maxlength="400" type="number" rows="3" #inputtxtNombreCategory
                            placeholder="Numero de Atributo" required value="8">
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Fecha de la informacion</mat-label>
                        <input matInput type="text" rows="3" #inputtxtNombreCategory
                            placeholder="Fecha de la informacion" required formControlName="infoDate">
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Ultimate fecha de actualizacion de la capa de informacion</mat-label>
                        <input matInput type="date" rows="3" #inputtxtNombreCategory
                            placeholder="Fecha de la informacion" required formControlName="updateDateFinal">
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Fuente</mat-label>
                        <input matInput type="text" rows="3" #inputtxtNombreCategory
                            placeholder="Fuente" required formControlName="dataSource">
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Responsable general</mat-label>
                        <input matInput type="text" rows="3" #inputtxtNombreCategory
                            placeholder="Responsable General" required formControlName="generalManager">
                    </mat-form-field>
                   
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Responsable(s) de la capa de información</mat-label>
                        <mat-chip-list #chipList3 aria-label="Fruit selection">
                        <mat-chip *ngFor="let fruit of keyWords1" (removed)="remove1(fruit)">
                            {{fruit.name}}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input matInput placeholder="Nuevo(s) Responsable(s) de la capa de información..."
                                [matChipInputFor]="chipList3"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes1"
                                [matChipInputAddOnBlur]="addOnBlur1"
                                (matChipInputTokenEnd)="add1($event)"
                                formControlName="responsibleInfoLayer1">
                        </mat-chip-list>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Responsable(s) de la integración de los datos a la base</mat-label>
                        <mat-chip-list #chipList4 aria-label="Fruit selection">
                        <mat-chip *ngFor="let fruit of keyWords2" (removed)="remove2(fruit)">
                            {{fruit.name}}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input matInput placeholder="Nuevo(s) Responsable(s) de la integración de los datos a la base..."
                                [matChipInputFor]="chipList4"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes2"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add2($event)"
                                formControlName="responsibleInfoLayer2">
                        </mat-chip-list>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Contacto de la fuente</mat-label>
                        <mat-chip-list #chipList5 aria-label="Fruit selection">
                            <mat-chip *ngFor="let fruit of keyWords3" (removed)="remove3(fruit)">
                                {{fruit.name}}
                                <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input matInput placeholder="Contactos de la fuente..."
                                    [matChipInputFor]="chipList5"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes3"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add3($event)"
                                    formControlName="responsibleInfoLayer3">
                            </mat-chip-list>
                    </mat-form-field>

                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Restricciones de uso</mat-label>
                        
                            <select matNativeControl required>
                                <option disabled value=""></option>
                                <option value="volvo">Si</option>
                                <option value="saab">No</option>
                            </select>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Tipo de geometria</mat-label>
                        <select matNativeControl required>
                            <option disabled value=""></option>
                            <option value="volvo">Punto</option>
                            <option value="saab">Linea</option>
                            <option value="mercedes">Poligono</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Sistema de coordenadas</mat-label>
                        <input matInput type="text" rows="3" #inputtxtNombreCategory
                            placeholder="Sistema de coordenadas" required value="EPSG: 32718 - WGS 84 UTM zona 18 sur">
                    </mat-form-field>
                    <hr>
                    <div class="col-lg-12">
                        <h4>Extensión</h4>
                    </div>
                    <div class="col-lg-12" align="center">
                        <mat-form-field class="col-lg-3" appearance="outline">
                            <mat-label>Max Y</mat-label>
                            <input matInput type="number" value="8695233" #inputtxtNombreCategory
                                placeholder="Max Y" required>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 row">
                            <mat-form-field class="col-lg-3" appearance="outline">
                                <mat-label>Min X</mat-label>
                                <input matInput type="number" value="264470.32" #inputtxtNombreCategory
                                    placeholder="Min X" required>
                            </mat-form-field>
                            <div class="col-lg-6"></div>
                            <mat-form-field align="end" class="col-lg-3" appearance="outline">
                                <mat-label>Max X</mat-label>
                                <input matInput type="number" value="313940" #inputtxtNombreCategory
                                    placeholder="Max X" required>
                            </mat-form-field>
                    </div>
                    <div class="col-lg-12" align="center">
                        <mat-form-field class="col-lg-3" appearance="outline">
                            <mat-label>Min Y</mat-label>
                            <input matInput type="number" value="8618806" #inputtxtNombreCategory
                                placeholder="Min Y" required>
                        </mat-form-field>
                    </div>
                </mat-tab>
                <mat-tab label="Atributos">
                                    <form>
                                        
                                        <hr>
                                        <div class="col-lg-12">
                                            <button mat-stroked-button align="end" (click)="ngAgregarDetalleSegmento(atributosItem)" color="primary"><mat-icon>add</mat-icon>Agregar atributo</button>
                                        </div>
                                        <br>
                                        <div class="col-lg-12" *ngFor="let item of atributosItem.fichaEvaluacionDetalleSegmentos; let i = index">
                                            <mat-card>
                                                <mat-card-content>

                                                    <mat-form-field class="col-lg-12" appearance="outline">
                                                        <mat-label>Nombre de Atributo</mat-label>
                                                        <input matInput maxlength="400" rows="3" #inputtxtPregunta
                                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="item.txtPregunta" placeholder="Nombre del Atributo" required>
                                                        <button mat-icon-button matSuffix color="warn"><mat-icon matSuffix>delete</mat-icon></button>
                                                        <mat-hint align="end">{{inputtxtPregunta.value.length || 0}}/400
                                                        </mat-hint>
                                                    </mat-form-field>
                                                    <mat-form-field class="col-lg-12" appearance="outline">
                                                        <mat-label>Descripcion del Atributo</mat-label>
                                                        <textarea matInput maxlength="400" rows="3" #inputtxtPregunta
                                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="item.txtObservacion" placeholder="Descripcion del Atributo" required></textarea>
                                                        <mat-hint align="end">{{inputtxtPregunta.value.length || 0}}/400
                                                        </mat-hint>
                                                    </mat-form-field>
                                                    <mat-form-field class="col-lg-12" appearance="fill">
                                                        <mat-label>Tipo de dato</mat-label>
                                                        <select matNativeControl [ngModelOptions]="{standalone: true}" [(ngModel)]="item.numIdTipoRespuesta" required>
                                                            <option disabled value=""></option>
                                                            <option value="1">Texto Corto</option>
                                                            <option value="2">Texto largo</option>
                                                            <option value="3">Numerico</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <div class="col-lg-12" *ngIf="item.numIdTipoRespuesta == 4 || item.numIdTipoRespuesta == 5">
                                                        <button mat-stroked-button align="end" (click)="ngAgregarSegmentoOpcionesRespuesta(item.fichaEvaluacionDetalleSegmentosOpcionesRespuestas)" color="primary"><mat-icon>add</mat-icon> Opciones de Respuesta</button>
                                                    </div> 
                                                    <br>
                                                    <div *ngFor="let itemOpciones of item.fichaEvaluacionDetalleSegmentosOpcionesRespuestas; let i = index;" style="padding-left: 20px;">
                                                        <mat-form-field class="col-lg-12" appearance="outline">
                                                            <mat-label>{{ i + 1 }} - Opciones de respuesta</mat-label>
                                                            <input matInput maxlength="400" #inputtxtOpcionRespuesta
                                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="itemOpciones.txtOpcionRespuesta" placeholder="Opción Respuesta" required>
                                                            <button mat-icon-button matSuffix color="warn" (click)="ngEliminarItem(item.fichaEvaluacionDetalleSegmentosOpcionesRespuestas, i)"><mat-icon matSuffix>delete</mat-icon></button>
                                                            <mat-hint align="end">{{inputtxtOpcionRespuesta.value.length || 0}}/400
                                                            </mat-hint>
                                                        </mat-form-field>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                            <br>
                                        </div>
                                        <hr>


                                        <!-- <div class="mt-4">
                                            <button mat-stroked-button align="end" (click)="ngAgregarSegmento()" color="primary"><mat-icon>add</mat-icon> Agregar Segmento</button>
                                        </div>
                                        <br>
                                        <div *ngFor="let itemSegmento of formFichaEvaluacion.fichaEvaluacionSegmentos, let i = index;">
                                            <mat-card>
                                                <mat-form-field class="col-lg-12" appearance="outline">
                                                    <mat-label>Titulo de segmento</mat-label>
                                                    <input matInput maxlength="400" rows="3" #inputtxtPregunta
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="itemSegmento.txtTituloSegmento" placeholder="Ttulo" required>
                                                        <button mat-icon-button matSuffix color="warn" (click)="ngEliminarItem(formFichaEvaluacion.fichaEvaluacionSegmentos, i)"><mat-icon matSuffix>delete</mat-icon></button>
                                                    <mat-hint align="end">{{inputtxtPregunta.value.length || 0}}/400
                                                    </mat-hint>
                                                </mat-form-field>
                                                <div class="col-lg-12">
                                                    <button mat-stroked-button align="end" (click)="ngAgregarDetalleSegmento(itemSegmento)" color="primary"><mat-icon>add</mat-icon>Agregar atributo</button>
                                                </div>
                                                <br>
                                                <div class="col-lg-12" *ngFor="let item of itemSegmento.fichaEvaluacionDetalleSegmentos, let i = index;">
                                                    <mat-card>
                                                        <mat-card-content>

                                                            <mat-form-field class="col-lg-6" appearance="outline">
                                                                <mat-label>Nombre de Atributo</mat-label>
                                                                <input matInput maxlength="400" rows="3" #inputtxtPregunta
                                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="item.txtPregunta" placeholder="Nombre del Atributo" required>
                                                                <button mat-icon-button matSuffix color="warn" (click)="ngEliminarItem(itemSegmento.fichaEvaluacionDetalleSegmentos, i)"><mat-icon matSuffix>delete</mat-icon></button>
                                                                <mat-hint align="end">{{inputtxtPregunta.value.length || 0}}/400
                                                                </mat-hint>
                                                            </mat-form-field>
                                                            <mat-form-field class="col-lg-6" appearance="outline">
                                                                <mat-label>Descripcion del Atributo</mat-label>
                                                                <input matInput maxlength="400" rows="3" #inputtxtPregunta
                                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="item.txtPregunta" placeholder="Descripcion del Atributo" required>
                                                                <mat-hint align="end">{{inputtxtPregunta.value.length || 0}}/400
                                                                </mat-hint>
                                                            </mat-form-field>
                                                            <mat-form-field class="col-lg-12" appearance="fill">
                                                                <mat-label>Tipo de dato</mat-label>
                                                                <select matNativeControl required>
                                                                    <option disabled value=""></option>
                                                                    <option value="volvo">Texto Corto</option>
                                                                    <option value="saab">Texto largo</option>
                                                                    <option value="mercedes">Numerico</option>
                                                                </select>
                                                            </mat-form-field>
                                                            <div class="col-lg-12" *ngIf="item.numIdTipoRespuesta == 4 || item.numIdTipoRespuesta == 5">
                                                                <button mat-stroked-button align="end" (click)="ngAgregarSegmentoOpcionesRespuesta(item.fichaEvaluacionDetalleSegmentosOpcionesRespuestas)" color="primary"><mat-icon>add</mat-icon> Opciones de Respuesta</button>
                                                            </div> 
                                                            <br>
                                                            <div *ngFor="let itemOpciones of item.fichaEvaluacionDetalleSegmentosOpcionesRespuestas; let i = index;" style="padding-left: 20px;">
                                                                <mat-form-field class="col-lg-12" appearance="outline">
                                                                    <mat-label>{{ i + 1 }} - Opciones de respuesta</mat-label>
                                                                    <input matInput maxlength="400" #inputtxtOpcionRespuesta
                                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="itemOpciones.txtOpcionRespuesta" placeholder="Opción Respuesta" required>
                                                                    <button mat-icon-button matSuffix color="warn" (click)="ngEliminarItem(item.fichaEvaluacionDetalleSegmentosOpcionesRespuestas, i)"><mat-icon matSuffix>delete</mat-icon></button>
                                                                    <mat-hint align="end">{{inputtxtOpcionRespuesta.value.length || 0}}/400
                                                                    </mat-hint>
                                                                </mat-form-field>
                                                            </div>
                                                        </mat-card-content>
                                                    </mat-card>
                                                    <hr>
                                                </div>
                                            </mat-card>
                                            <br>
                                        </div>
                                        <hr> -->
                                        <hr>
                                    </form>
                              
                </mat-tab>
            </div>
            
        </mat-tab-group>

      
      <div class="row text-center">
        <div class="col">
          <div class="form-group mt-3 mb-0">
            <button class="btn btn-primary mr-3 ">
              Guardar
            </button>
            <button type="button" class="btn btn-danger" (click)="closeModal()" >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  