<app-breadcrumb [title]="'Crear Nuevo Perfil'" [items]="['Seguridad','Permisos']" [active_item]="'Crear'">
</app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation" novalidate [formGroup]="createProfile">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>NOMBRE</label>
                                    <input type="text" class="form-control" rows="3" maxlength="20" formControlName="nombre" (keyup)="onKey1($event)" [class.is-invalid]="createProfile.controls['nombre'].touched && createProfile.controls['nombre'].errors?.['required']" onkeyup="this.value=this.value.toUpperCase();">
                                    <div class="">
                                        {{counter1}} / 255
                                    </div>
                                    <div class="invalid-feedback" *ngIf="createProfile.controls['nombre'].touched && createProfile.controls['nombre'].errors?.['required']">
                                        Nombre es requerido
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>DESCRIPCI&Oacute;N</label>
                                    <input type="text" class="form-control" rows="3" maxlength="20" formControlName="descripcion" (keyup)="onKey($event)" [class.is-invalid]="createProfile.controls['descripcion'].touched && createProfile.controls['descripcion'].errors?.['required']" onkeyup="this.value=this.value.toUpperCase();">
                                    <div class=" ">
                                        {{counter}} / 255
                                    </div>
                                    <div class="invalid-feedback" *ngIf="createProfile.controls['descripcion'].touched && createProfile.controls['descripcion'].errors?.['required']">
                                        Descripcion es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>HABILITADO</label>
                                    <select formControlName="habilitado" class="form-control" style="width: 100%;" placeholder="Seleccione">
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ng-container formArrayName="permisos">
                                        <ng-container>
                                            <label>Asignar Permisos</label>
                                            <ng-select
                                                [items]="selectPermiso"
                                                bindLabel="nombre"
                                                bindValue="id"
                                                (change)="getSelectPermiso($event)"
                                                placeholder="Seleccione Permisos"
                                                [multiple]="true"></ng-select>
                                            <div class="invalid-feedback" *ngIf="createProfile.controls['permission'].touched && createProfile.controls['permission'].errors?.['required']">
                                                Seleccione el ubigeo
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <div class="form-group mb-0">
                                    <div class="form-group mb-0">
                                        <button type="button" class="btn btn-primary mr-3" [class.loader--text]="profileService.showLoader" [disabled]="!createProfile.valid || profileService.showLoader" (click)="createProfile1()">
                                            <span><i class="fa fa-save"></i>{{ profileService.showLoader ? '' : 'Grabar'
                                                }}</span>
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="cancelProject()"><i
                                                class="fa fa-ban"></i> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
