<p>simulaciones-ficha-evaluacion works!</p>
<app-breadcrumb [title]="'Ficha Evaluación'" [active_item]="'Ficha Evaluación'"></app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" style="font-size: 13px">
                                    <div class="mb-2">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Buscar por nombre</mat-label>
                                            <input matInput type="text"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                            <button matSuffix mat-icon-button aria-label="Clear">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-primary btn-lg" ngbTooltip="Nuevo" (click)="add()">
                                    <i class="fa fa-plus-square-o"></i> Nuevo
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <div name="data-source-1_length" class="dataTables_wrapper">
                                <div class="dataTables_length">
                                    <label>Mostrar
                                        <select name="data-source-1_length">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entradas</label>
                                </div>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Nombre Ficha Evaluación</th>
                                            <th class="text-center">Estado</th>
                                            <th class="text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let item of dataFichasEvaluacion">
                                            <td class="text-center">{{ item.numId }}</td>
                                            <td class="text-center">{{ item.txtNombre }}</td>
                                            <td *ngIf="item.bolEstado == 'Pendiente'" class="text-center badge badge-warning fw-bold">{{ item.bolEstado }}</td>
                                            <td *ngIf="item.bolEstado != 'Pendiente'" class="text-center badge badge-success fw-bold">{{ item.bolEstado }}</td>
                                            <td>
                                                <div>
                                                    <a style="color: #08afe0; cursor: pointer; font-size: 20px" (click)="ngAsignarEvento(item)"
                                                        ngbTooltip="Asignar Evento">
                                                        <i class="fa fa-send"></i>
                                                    </a>
                                                    <a class="ml-2"
                                                    style="color: #08afe0; cursor: pointer; font-size: 20px"
                                                        ngbTooltip="Ver / Editar">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a class="mr-2 ml-2"
                                                        style="color: #f73164; cursor: pointer; font-size: 20px"
                                                        ngbTooltip="Eliminar">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
