<app-breadcrumb [title]="'FORMULARIO 2A - 2B'" [items]="['Formato 2A']" [active_item]="'Crear Formato'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-12">
      <div class="card">
        <div class="card-body my-card">
          <ul class="">
            <li class="nav-items">
              <a href="">Codigo sinpad: <strong>{{codigoSinpad}}</strong></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-tabs nav-primary">
            <li class="nav-item">
              <a href="javascript:void(0)" [class.active]="tabId === 'general'" class="nav-link" id="general" (click)="tabChange('general')">
                <i class="icofont icofont-ui-home"></i>
                Informaci&oacute;n General
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" [class.active]="tabId === 'mapa'" class="nav-link" id="mapa" (click)="tabChange('mapa')">
                <i class="icofont icofont-man-in-glasses"></i>
                Mapa
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" [class.active]="tabId === 'damage'" class="nav-link" id="damage" (click)="tabChange('damage')">
                <i class="icofont icofont-man-in-glasses"></i>
                Grupo Familiar
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" [class.active]="tabId === 'files'" class="nav-link" id="files" (click)="tabChange('files')">
                <i href="javascript:void(0)" class="icofont icofont-contacts"></i>
                Adjuntar archivos
              </a>
            </li>
          </ul>
          <div class="tab-content">

            <form [formGroup]="updateForm2A">

            <div class="tab-pane fade" [ngClass]="['show', 'active']" *ngIf="tabId === 'general'">


                <div class="row">

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>N&uacute;mero de formulario</mat-label>
                        <input matInput formControlName="formNumber">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Tipo de Peligro</mat-label>
                        <input matInput readonly formControlName="typePhenomenon">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <mat-form-field appearance="outline" readonly="">
                        <mat-label>Grupo de Peligro</mat-label>
                        <input matInput readonly formControlName="groupPhenomenon">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Fecha y Hora de Evento</mat-label>
                        <input matInput readonly formControlName="datetimeEvent">
                      </mat-form-field>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Fecha y hora del empadronamiento</mat-label>
                        <input matInput formControlName="datetimeRegistration" [ngxMatDatetimePicker]="picker" placeholder="Seleccione una fecha">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Centro Poblado</mat-label>
                        <mat-select
                          required
                          formControlName="populatedCenter"
                          (selectionChange)="getPopulated(event)" #event>
                          <mat-option *ngFor="let i of getPopulatedCenter" value="{{i.id}}" [attr.name]="i.descripcion">
                            {{i.descripcion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Barrio / Sector / Urbanizaci&oacute;n / Ninguno</mat-label>
                        <mat-select
                          required
                          formControlName="idSectorPlace"
                          (selectionChange)="changeKindPlaces(h)" #h>
                          <mat-option *ngFor="let i of kindPlaces" value="{{i.id}}" [attr.name]="i.descripcion">
                            {{i.descripcion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Ingrese el nombre {{ updateForm2A.get('sectorPlaceName')?.value?.toLowerCase() }}</mat-label>
                        <input matInput formControlName="sectorPlaceDesc">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Calle / Manzana / Ninguno</mat-label>
                        <mat-select
                          formControlName="idStreet"
                          (selectionChange)="changeStreet(c)" #c>
                          <mat-option value="1">CALLE</mat-option>
                          <mat-option value="2">MANZANA</mat-option>
                          <mat-option value="3">NINGUNO</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Ingrese el nombre {{ updateForm2A.get('streetName')?.value?.toLowerCase() }}</mat-label>
                        <input matInput formControlName="streetDesc">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Edificio/Piso/Departamento</mat-label>
                        <input matInput formControlName="floorName">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Caserio / Anexo / Ninguno</mat-label>
                        <mat-select
                          formControlName="idSpecificPlace"
                          (selectionChange)="changeSpecificPlaces(s)" #s>
                          <mat-option *ngFor="let i of specificPlaces" value="{{i.id}}" [attr.name]="i.descripcion">{{i.descripcion}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Ingrese el nombre {{ updateForm2A.get('specificPlaceName')?.value?.toLowerCase() }}</mat-label>
                        <input matInput formControlName="specificPlaceDesc">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-group mb-0 text-right">
                      <button
                        type="button"
                        class="btn btn-primary m-r-10"
                        (click)="back()"> Regresar</button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        [disabled]="!updateForm2A.valid"
                        (click)="tabChange('mapa')">
                        <span>Siguiente</span>
                      </button>
                    </div>
                  </div>
                </div>

            </div>

            <div class="tab-pane fade" [ngClass]="['show', 'active']" *ngIf="tabId === 'mapa'">
              <div class="row">
                <div class="col">
                  <app-map-sinpad [idMapa]="idMapa" [typeAction]="typeAction" [wrapGeometria]="wrapGeometria"></app-map-sinpad>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <div class="form-group mb-0 text-right">
                    <button *ngIf="authService.validarPermisos([PERMISOS.EDITAR_EMP_FAMILIAR])" type="button" class="btn btn-primary m-t-10" (click)="tabChangeAndUpdate('damage')"> Siguiente</button>
                  </div>
                  <div class="form-group mb-0 text-right">
                    <button *ngIf="authService.validarPermisos([PERMISOS.VER_EMP_FAMILIAR])" type="button" class="btn btn-primary m-t-10" (click)="tabChange('damage')"> Siguiente</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" [ngClass]="['show', 'active']" *ngIf="tabId === 'damage'">

              <div class="row">
                <div class="col">
                  <div class="form-group m-b-20 text-right">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="addFamily()">Nuevo</button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xl-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th class="text-center">Familia</th>
                        <th class="text-center">Lote</th>
                        <th class="text-center">Jefe de Familia</th>
                        <th class="text-center">Medio Vida</th>
                        <th class="text-center">Opciones</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="text-center" *ngFor="let fg of familyGroup; let i = index">
                        <td>
                          0{{i+1}}
                        </td>
                        <td>
                          {{fg.lote}}
                        </td>
                        <td>
                          {{fg.nombresApellidos}}
                        </td>
                        <td>
                          {{fg.existeMedioVida}}
                        </td>
                        <td>
                          <div>
                            <a class="mr-2 ml-2" style="color: #08afe0; cursor: pointer; font-size: 20px" ngbTooltip="Editar"
                               (click)="showToUpdate(fg.id)">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a class="mr-2 ml-2" style="color: #f73164; cursor: pointer; font-size: 20px"
                               ngbTooltip="Eliminar"
                            (click)="deleteFamily(fg.id)">
                              <i class="fa fa-trash"></i>
                            </a>
                            <a class="mr-2 ml-2" style="color: #08afe0; cursor: pointer; font-size: 20px"
                               ngbTooltip="Agregar Afectación" (click)="addAffectation(fg.id)">
                              <i class="fa fa-file-text-o"></i>
                            </a>

                          </div>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group text-right">
                    <button
                      type="button"
                      class="btn btn-primary m-r-10 m-t-20"
                      (click)="back()"> Regresar</button>
                    <button type="button" class="btn btn-primary m-t-20" (click)="tabChange('files')"> Siguiente</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" [ngClass]="['show', 'active']" *ngIf="tabId === 'files'">

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="fileEval" class="filezone w-100">
                      <div class="fz-message needsclick"
                           (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                        <i class="icon-cloud-up"></i>
                        <h6>Suelte los archivos aqu&iacute; o haga clic para cargarlos.</h6>
                        <input 
                               id="fileEval"
                               (change)="onChange($event)"
                               type="file" multiple formControlName="file" class="form-control mb-2" class="hidden">
                      </div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">
                      <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">#</div>
                        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">Archivo</div>
                        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">Descripcion</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">Opciones</div>
                      </div>
                    </li>

                    <li formArrayName="files" *ngFor="let file of files.controls; index as i" class="list-group-item xlist" data-as-sortable-item>
                      <div class="row" [formGroupName]="i">
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                          <div class="row">
                            <div class="col-xs-4" data-as-sortable-item-handle style="padding-top:5px;">
                              <i class="fa fa-grip-o"></i> {{i + 1}}
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-7 col-xs-7">
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-11 col-xs-10 wraptext">
                              <span>{{ getNameFile(i)}}</span>
                            </div>
                            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs wraptext">
                              <input type="text" class="form-control" formControlName="descripcion">
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 wraptext">
                              <a 
                                style="color: #f73164; cursor: pointer;" (click)="delete(i)"  ngbTooltip="Eliminar">
                                <i class="fa fa-trash-o" style="font-size: 25px"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group mb-0 text-right">
                    <button 
                      
                      type="button"
                      class="btn btn-primary m-r-10 m-t-20"
                      (click)="back()"> Regresar</button>
                    <button 
                      *ngIf="authService.validarPermisos([PERMISOS.EDITAR_EMP_FAMILIAR])"
                      type="button"
                      class="btn btn-primary m-r-10 m-t-20"
                      (click)="updateFiles()"> Guardar</button>
                    <button
                      *ngIf="authService.validarPermisos([PERMISOS.VER_EMP_FAMILIAR])"
                      type="button"
                      class="btn btn-primary m-r-10 m-t-20"
                      (click)="updateFiles1()"> Terminar</button>
                  </div>
                </div>
              </div>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
