<app-breadcrumb title="FORMULARIO 2A/2B - CODIGO SINPAD NRO: {{codigoSinpad}}" [items]="['Formato 2A']" [active_item]="'Crear Formato'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-12">
      <div class="card">
        <div class="card-body my-card">
          <form [formGroup]="updateForm">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3 btn btn-primary btn-lg w-100 text-center">
                  <div class="form-check checkbox checkbox-solid-primary mb-0">
                    <input class="form-check-input" formControlName="isHealth" id="checkbox-1" type="checkbox">
                    <label class="form-check-label" for="checkbox-1">SALUD</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3 btn btn-primary btn-lg w-100 text-center">
                  <div class="form-check checkbox checkbox-solid-primary mb-0">
                    <input class="form-check-input" formControlName="isMv" id="checkbox-2" type="checkbox">
                    <label class="form-check-label" for="checkbox-2">MEDIOS DE VIDA</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3 btn btn-primary btn-lg w-100 text-center">
                  <div class="form-check checkbox checkbox-solid-primary mb-0">
                    <input class="form-check-input" formControlName="isViv" id="checkbox-3" type="checkbox">
                    <label class="form-check-label" for="checkbox-3">VIVIENDA</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button *ngIf="authService.validarPermisos([PERMISOS.EDITAR_EMP_FAMILIAR])" class="btn btn-primary btn-lg" style="height: 60px;" (click)="tabChange()">SIGUIENTE</button>
              </div>
              <div class="col-md-12 text-center">
                <button *ngIf="authService.validarPermisos([PERMISOS.VER_EMP_FAMILIAR])" class="btn btn-primary btn-lg" style="height: 60px;" (click)="tabChange1()">SIGUIENTE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
