
<app-breadcrumb [title]="'Recursos'" [active_item]="'Recursos'"></app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <mat-form-field class="col-lg-10" appearance="outline">
                                <mat-label>Buscar por categoría y Subcategoría de recurso</mat-label>
                                <input matInput type="text"
                                    onkeyup="this.value=this.value.toUpperCase();">
                                <button matSuffix mat-icon-button aria-label="Clear">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <div class="col-lg-2">
                                <a class="btn btn-primary btn-lg col-lg-12" ngbTooltip="Nuevo" (click)="add()">
                                    <i class="fa fa-plus-square-o"></i> Nuevo
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <div name="data-source-1_length" class="dataTables_wrapper">
                                <div class="dataTables_length">
                                    <label>Mostrar
                                        <select name="data-source-1_length">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entradas</label>
                                </div>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <!-- <th class="text-center">Nombre</th> -->
                                            <th class="text-center">Categoría</th>
                                            <th class="text-center">Subcategoría</th>
                                            <th class="text-center">Nombre del Recurso</th>
                                            <th class="text-center">Fecha de registro</th>
                                            <th class="text-center">Departamento</th>
                                            <th class="text-center">Provincia</th>
                                            <th class="text-center">Distrito</th>
                                            <th class="text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let item of subcategoria">
                                            <td class="text-center">{{ item.id }}</td>
                                            <!-- <td class="text-center">{{ item.txtNombre }}</td> -->
                                            <td class="text-center">{{ item.categoria }}</td>
                                            <td class="text-center">{{ item.recurso }}</td>
                                            <td class="text-center">{{ item.nombre }}</td>
                                            <td class="text-center">11/11/2022</td>
                                            <td class="text-center">Lima</td>
                                            <td class="text-center">Lima</td>
                                            <td class="text-center">San Juan de Lurigancho</td>
                                            <!-- <td *ngIf="item.bolEstado == 'Pendiente'" ><p class="text-center badge badge-warning fw-bold">{{ item.bolEstado }}</p></td>
                                            <td *ngIf="item.bolEstado != 'Pendiente'" ><p class="text-center badge badge-success fw-bold">{{ item.bolEstado }}</p></td> -->
                                            <td>
                                                <div>
                                                    <!-- <a style="color: #08afe0; cursor: pointer; font-size: 20px" (click)="ngAsignarEvento(item)"
                                                        ngbTooltip="Asignar Evento">
                                                        <i class="fa fa-send"></i>
                                                    </a> -->
                                                    <a class="ml-2"
                                                    style="color: #08afe0; cursor: pointer; font-size: 20px"
                                                    (click)="editPermission()"
                                                        ngbTooltip="Ver / Editar">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a class="mr-2 ml-2"
                                                        style="color: #f73164; cursor: pointer; font-size: 20px"
                                                        (click)="back(1)"
                                                        ngbTooltip="Eliminar">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
