<div class="page-wrapper">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-card">
          <div>
            <div>
              <form>

                <h4 class="text-center">Restablecer la contraseña</h4><br>

                <div class="row">
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" style="font-size: 16px">
                      <mat-label>Ingrese Correo</mat-label>
                      <input matInput text="text">
                      <mat-icon mat-icon-button matSuffix (click)="hide = !hide"></mat-icon>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group mb-0">
                  <button class="btn btn-primary btn-block" (click)="enviarCorreo()" type="button">Restablecer</button>
                </div>

                <p class="mt-4 mb-0 text-center">
                  ¿Ya tienes una cuenta?
                  <a href="javascript:void(0)" class="ml-2" (click)="login()">Inicie Sesi&oacute;n</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
