<app-breadcrumb [title]="'Carga'" [items]="['Masiva', 'Advance']" [active_item]="'Dropzone'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row dropzone-custom">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Carga masiva de archivos</h5>
        </div>
        <div class="card-body">
          <div class="">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Categoria</mat-label>
                  <mat-select (selectionChange)="changeCat(a)" #a>
                    <mat-option>Ninguna</mat-option>
                    <mat-option *ngFor="let state of cat" [value]="state.id">{{state.desc}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Sub Categoria</mat-label>
                  <mat-select (selectionChange)="changeCatSub(b)" #b>
                    <mat-option>Ninguna</mat-option>
                    <mat-option *ngFor="let state of subcat" [value]="state.id">{{state.desc}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div *ngIf="isLinear" class="">
            <div class="dropzone dropzone-primary" [dropzone]="config1" (init)="onUploadInit($event)"
              (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
              <div class="dz-message needsclick">
                <i class="icon-cloud-up"></i>
                <h6>Suelte los archivos aquí o haga click para cargarlos.</h6>
              </div>
            </div>

            <div class="d-flex justify-content-center pt-2">
              <button class="btn btn-primary">Subir Archivo</button>
            </div>            
          </div>
        </div>
          <div class="d-flex justify-content-center pt-2">
            <div  *ngIf="isLinear" align-start style="margin-right: 10px;">
              <label align-center>Agregar información <br> a la ya existente</label><br>
              <button (click)="accion(1)" class="btn btn-primary">Agregar</button>
            </div>
            <div *ngIf="isLinear" align-center style="margin-left: 10px;">
              <label>Reemplazar la información<br> ya existente</label><br>
              <button (click)="accion(0)" class="btn btn-primary">Reemplazar</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>