<app-breadcrumb [title]="'Categorias y Subcategorias'" [active_item]="'Categorias'"></app-breadcrumb>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <form>
            <div class="row px-4">
              <div class="col-sm-6">
                <div class="form-group" style="font-size: 13px">
                  <div class="mb-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Buscar</mat-label>
                      <input matInput type="text" formControlName="textoBusqueda" 
                        onkeyup="this.value=this.value.toUpperCase();">
                      <button  matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group" style="font-size: 13px">
                  <div class="mb-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha Inicio</mat-label>
                      <input readonly matInput [matDatepicker]="picker1" formControlName="fechaInicio">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1>
                        <mat-datepicker-actions>
                          <button mat-button matDatepickerCancel>Cancel</button>
                          <button mat-raised-button color="primary" matDatepickerApply>Aceptar</button>
                        </mat-datepicker-actions>
                      </mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group" style="font-size: 13px">
                  <div class="mb-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha Fin</mat-label>
                      <input readonly matInput [matDatepicker]="picker2"
                        formControlName="fechaFin">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2>
                        <mat-datepicker-actions>
                          <button mat-button matDatepickerCancel>Cancel</button>
                          <button mat-raised-button color="primary" matDatepickerApply>Aceptar</button>
                        </mat-datepicker-actions>
                      </mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-2" style="padding-left: 0px;">
                <div class="form-group" >
                  <div class="mb-2">
                    <a  class="btn btn-primary m-t-12">
                      Registrar Categoria
                    </a>
                  </div>
                </div>
              </div>
              <div class="col"></div>

            </div>
            <div>
                <table class="tid-table">
                    <thead>
                        <tr>
                          <th class="text-center">Nro.</th>
                          <th class="text-center">Codigo Categoria</th>
                          <th class="text-center">Nombre de categoria</th>
                          <th class="text-center">Fecha actualizacion</th>
                          <th class="text-center">Opciones</th>
                        </tr>
                      </thead>
                    <ng-container *ngFor="let i of dataCategories; let index=index; let even=even">
                      <tr class="tid-data-row"
                        [ngClass]="{'tid-even': even}">
                      <td class="text-center">
                        {{index + 1}}
                      </td>
                      <td class="text-center">
                        {{i.codCategory}}
                      </td>
                      <td class="text-center">
                        {{i.nameCategory}}
                      </td>
                      <td class="text-center">
                        {{i.updateDate}}
                      </td>
                      <td class="d-flex justify-content-center">
                        <div class="pr-2">
                            <button mat-mini-fab ngbTooltip="Ver/Editar"><mat-icon>visibility</mat-icon></button>
                        </div>
                        <div class="pr-2">
                            <button mat-mini-fab ngbTooltip="Agregar SubCategoria" ><mat-icon>add</mat-icon></button>
                        </div>
                        <div class="pr-2">
                            <button mat-mini-fab ngbTooltip="Eliminar Categoria" ><mat-icon>delete</mat-icon></button>
                        </div>
                        <div class="pr-2">
                            <button  mat-mini-fab ngbTooltip="Ver Informacion" (click)="i.showDetail = !i.showDetail"><mat-icon>keyboard_arrow_down</mat-icon></button>
                        </div>
                          
                      </td>
                    </tr>
                    <tr class="tid-detail-row"
                        [ngClass]="{'show': i.showDetail}">
                      <td>{{index}}</td>
                      <td colspan="2">
                        
                        <div *ngFor="let j of dataSubCategories">
                          <div *ngIf="i.codCategory === j.codCategory">{{j.codCategory}}</div>
                            <td>{{j.codSubCategory}}</td>
                          </div>
                      </td>
                    </tr>
                    </ng-container>
                  </table>
            </div>


          </form>

        </div>
      </div>
    </div>

  </div>
</div>