textarea:focus {
    outline: none !important;
    border-color: #7366ff;
    box-shadow: 0 0 1px #7366ff;
}

select:focus {
    outline: none !important;
    border-color: #7366ff;
    box-shadow: 0 0 1px #7366ff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #7366ff !important;
}

::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red!important;
}

::ng-deep .mat-form-field-label {
    color: #000000!important;
    // color: $mainColor!important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #7366ff !important;
}