
<mat-expansion-panel hideToggle class="map-layers">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="mr-2">assignment</mat-icon> Lista de items
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list>
    <mat-list-option class="mat-primary" checkboxPosition="before" *ngFor="let layer of layers">
      {{layer.name}}
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>

<!-- <div class="card map-layers">
  <div class="card-body">
    <h6>Categorías</h6>
    <mat-selection-list>
      <mat-list-option class="mat-primary" checkboxPosition="before" *ngFor="let layer of layers">
        {{layer.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div> -->
