.map-layers {
  width: 320px;
  height: 100vh;
}


.mat-form-field {
  margin-right: 4px;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 10px 5px !important;
}

button {
  border: none;
  background: none !important;
}

mat-tree-node {
  width: 100%;
}
.mat-expansion-panel-header{
 padding: 0 10px;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-checkbox {
  font-size: 13px !important;
}

::ng-deep mat-checkbox span.mat-checkbox-label{
  white-space: normal !important;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}