 <div class="modal-header text-center">
    <h5 class="modal-title text-center">A la infraestructura de riesgo - Daños en canales, defensa y otros</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="data">

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Tipo de infraestructura</label>
                    <ng-select
                    [items]="maestrasTransPuente"
                    bindLabel="descripcion"
                    bindValue="id"
                    formControlName="idTipoInfraestructura"
                    (change)="getSelectTipoInfraestructura($event)"
                    placeholder="Seleccione"></ng-select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Destruidos (unidad)</label>
                    <input type="text" class="form-control" formControlName="cantidadDestruido" placeholder="Destruidos">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Afectados (unidad)</label>
                    <input type="text" class="form-control" formControlName="cantidadAfectado" placeholder="Afectados">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Inhabitables</label>
                    <input type="text" class="form-control" formControlName="cantidadTramo" placeholder="Inhabitables">
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Ubicaci&oacute;n</label>
                    <input type="text" class="form-control" formControlName="ubicacion" placeholder="Ubicación">
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary m-r-20" (click)="addData()">
                <span>Agregar</span>
            </button>

            <button type="button" class="btn btn-outline-danger" (click)="closeModal()">
                <span>Cancelar</span>
            </button>
        </div>
    </form>

</div> 