<app-breadcrumb [title]="'Crear Nuevo Recurso'" [items]="['Registro','Recursos']" [active_item]="'Crear'">
</app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="" >
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Categoria</mat-label>
                                    <mat-select
                                    (selectionChange)="changeCat(a)" #a>
                                        <mat-option>Ninguna</mat-option>
                                        <mat-option *ngFor="let state of cat" [value]="state.id">{{state.desc}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Sub Categoria</mat-label>
                                    <mat-select (selectionChange)="changeCatSub(b)" #b>
                                        <mat-option>Ninguna</mat-option>
                                        <mat-option *ngFor="let state of subcat" [value]="state.id">{{state.desc}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <form *ngIf="isLinear" class="needs-validation">
                        <mat-stepper [linear]="isLinear" #stepper>
                            <mat-step label="Llenado de informacion 1">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>ID_CCSS</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Código del centro de servicios</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Código del distrito</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Código del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Nombre del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Marca del motor eléctrico del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Potencia del motor eléctrico del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Amperaje del motor eléctrico del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button mat-button matStepperNext class="btn btn-primary mr-3">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </mat-step>
                            <mat-step label="Llenado de informacion 2">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Voltaje del motor eléctrico del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Longitud de la bomba en metros</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Tipo de bomba utilizada</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Marca de la bomba utilizada</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Modelo de bomba utilizada</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Estado del equipamiento del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Diámetro del la válvula del pozo en pulgadas</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Vuelta de trabajo de la válvula en vatios</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button mat-button matStepperNext class="btn btn-primary mr-3">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </mat-step>
                            <mat-step label="Llenado de informacion 3">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Vuelta total de la válvula en vatios</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Cota de nivel estático del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Cota de nivel dinámico del pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>                                    
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Caudal del pozo en litros por segundo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Presión de salida con el N° total de vueltas de la
                                                válvula(psi)</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Profundidad del pozo en metros</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Número de horas de funcionamiento del pozo mes</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Presión de salida con el número de vueltas de trabajo de la válvula
                                                en
                                                psi</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button mat-button matStepperNext class="btn btn-primary mr-3">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </mat-step>
                            <mat-step label="Llenado de informacion 4">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Número de días de funcionamiento del pozo por mes </label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Producción total del pozo en miles de metros cúbicos</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Coordenada X del pozo en UTM</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Coordenada Y del pozo en UTM</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Coordenada Y del pozo en UTM</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Observación sobre el pozo</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Fuente de los datos sobre el pozo en Sedapal</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Nivel de esencialidad o de importancia del objeto</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button mat-button matStepperNext class="btn btn-primary mr-3">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </mat-step>
                            <mat-step label="Llenado de informacion 5">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Valor de la accesibilidad durante la noche</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Calidad de la accesibilidad durante el día</label>
                                            <input type="text" class="form-control" rows="3" maxlength="255"
                                                onkeyup="this.value=this.value.toUpperCase();">
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                        </mat-stepper>
                    </form>   
                    <div class="row text-center">
                        <div class="col">
                            <div class="form-group mb-0">
                                <div class="form-group mb-0">
                                    <button *ngIf="isLinear" type="button" class="btn btn-primary mr-3" (click)="ngGuardar()">
                                        <span><i class="fa fa-save"></i> Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)="ngCancelar()"><i
                                            class="fa fa-ban"></i>
                                        Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>